# Requirements para la aplicación simple de OpenCV

streamlit==1.35.0
numpy==1.26.4
pillow==10.2.0
torch==2.3.0
torchvision==0.18.0
pyzbar
streamlit-webrtc
requests
tensorflow
pandas
scikit-learn
joblib
opencv-python-headless
ultralytics==8.3.199









